    
    
    body {
      background-color: #000000; 
      overflow: hidden;
    }

    #rendererContain {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: -8;
      background-color: black;
      background-size: 300px;
    }
        
    @media (orientation: portrait) {   

      #topControlsNavButton {
        position: absolute;
        filter: invert(1);
        right: 12.5%;
        width: 25px;
        opacity: 0.5;
        visibility: hidden;
        
      }

      #circleBW {
        position: absolute;
        top: 50%;
        right: 5%;
        width: 35px;
        visibility: hidden;
      }
    
      #centerContainer {
        position: absolute;
        height: 100%;
        width: 75%;
        transition: 0.5s;
        top: 0%;
        left: 12.5%;
      }

    #maapDiv {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;

    }
    #maapDiv2 {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;
    }

    #infinityDiv {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;

    }
    #infinityDiv2 {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;
    }



    #sapientsDiv {
      display: none;
      position: relative;
      float: right;
      width: 0%;
      height: 0%;
      transition: 1s ease;

    }

    #sapientsDiv2 {
      display: none;
      position: relative;
      float: right;
      width: 0%;
      height: 0%;
      transition: 1s ease;

    }

    #symbioseDiv {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;
    }
    #symbioseDiv2 {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;
    }


  #topControlsDiv {
      position: relative;
      width: 60%;
      margin-left: 20%;
      height: 0%;
      top: -110%;
      filter: contrast(200%);
      transition: 1s;
      visibility: hidden
  }

  
  #presetControlsDiv {
    width: 60%;
    position: fixed;
    left: 20%;
    visibility: hidden;
  }

  #div2D3D {
    position: relative;
    width: 0%;
    top: 40%;
    transition: 1s;
  }
  #div2D3D img {
    width: 50%;
    left: 25%;
    position: relative
  }

  #optionsDiv {
    position: relative;
    transition: 1s;
    top: 37.5%;
    height: 25%;
    width: auto;    
  }
  #optionsDiv img {
    position: relative;
    transition: 1s ease;
    width: 100%;
    height:25%;
    opacity: 0.8;
    height: auto;
    
  }
       
#albumTitlesDiv {
  display: none;
	position: absolute;
	height: 0%;
	transition: 1s;
	top: 25%;
}




#horseloverDiv {
  display: none;
  position: relative;
  float: left;
  width: 0%;
  transition: 1s ease;
  height: 33%;
  top: 33%
}
#horseloverDiv2 {
  display: none;
  position: relative;
  float: left;
  width: 0%;
  transition: 1s ease;
  height: 33%;
  top: 33%
}

#pausePlay {
  width: 10%;
  position: absolute;
  left: 45%;
}

#next {
  right: -20%;
  border-radius: 3px 0 0 3px;
}

#prev {
  left: -20%;
  border-radius: 3px 0 0 3px;
}

#next2 {
  right: 0%;
  border-radius: 3px 0 0 3px;
}

#prev2 {
  left: 0%;
  border-radius: 3px 0 0 3px;
}

#poemsDiv {
	width: 100%;
	height: 50%;
	top: 25%;
	display: none;
	position: relative;
}
#imagesDiv {
	width: 100%;
	height: 75%;
	top: 12.5%;
	display: none;
	position: relative;
}


  }




  @media (orientation: landscape) {   

    #next {
      right: -50%;
      border-radius: 3px 0 0 3px;
    }
  
    #prev {
      left: -50%;
      border-radius: 3px 0 0 3px;
    }

    #next2 {
      right: 0%;
      border-radius: 3px 0 0 3px;
    }
  
    #prev2 {
      left: 0%;
      border-radius: 3px 0 0 3px;
    }
    


    #div2D3D {
      position: relative;
      width: 0%;
      top: 40%;
      transition: 1s;
    }
    #div2D3D img {
      width: 50%;
      left: 25%;
      position: relative
    }

    #topControlsNavButton {
      position: absolute;
      filter: invert(1);
      right: 25%;
      width: 25px;
      opacity: 0.5;
      visibility: hidden;
    }

    #circleBW {
      position: absolute;
      top: 5%;
      right: 2%;
      width: 35px;
      visibility: hidden
    }
    
    #centerContainer {
        position: absolute;
        height: 100%;
        width: 33%;
        transition: 0.5s;
        top: 0%;
        left: 33%;
    }
    #maapDiv {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;
 
    }
    #maapDiv2 {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;

    }



    #sapientsDiv {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;

    }
    #sapientsDiv2 {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;

    }
    #symbioseDiv {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;
    }
    #symbioseDiv2 {
      display: none;
      position: relative;
      width: 0%;
      height: 0%;
      transition: 1s ease;
    }


  #topControlsDiv {
      position: relative;
      width: 30%;
      margin-left: 35%;
      height: 0%;
      filter: contrast(200%);
      top: -110%;
      transition: 1s;
      visibility: hidden
  }

  #presetControlsDiv {
    width: 30%;
    position: fixed;
    left: 35%;
    visibility: hidden;
  }

  #optionsDiv {
    position: relative;
    transition: 1s;
    top: 33%;
    height: 33%;
    width: auto;
  }

  #optionsDiv img {
    transition: 1s ease;
    width: 100%;
    opacity: 0.8;
    position: relative;
    height: auto;
  }

       
#albumTitlesDiv {
  display: none;
	position: absolute;
	height: 0%;
	transition: 1s;
	top: 12.5%;
}

#horseloverDiv {
  display: none;
  position: relative;
  float: left;
  width: 0%;
  transition: 1s ease;
  height: 0%;
  top: 0%
}
#horseloverDiv2 {
  display: none;
  position: relative;
  float: left;
  width: 0%;
  transition: 1s ease;
  height: 0%;
  top: 0%
}

#infinityDiv {
  display: none;
  position: relative;
  width: 0%;
  height: 0%;
  transition: 1s ease;

}
#infinityDiv2 {
  display: none;
  position: relative;
  width: 0%;
  height: 0%;
  transition: 1s ease;
}

#pausePlay {
  width: 5%;
  position: absolute;
  left: 47.5%;
}

#poemsDiv {
	height: 100%;
	width: 100%;
	display: none;
	position: relative;

}
#imagesDiv {
	height: 100%;
	width: 100%;
	display: none;
	position: relative;
}

  }





























































































































  

  #prev, #next, #prev2, #next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }    
 
  
  .myPoems {
    display: none;
  filter: invert(1)
  }

  #poemsDiv img {
    height: 100%;
    position:relative
  }

  #imagesDiv img {
    height: 100%;
    position:relative
  }
  
  .sideControl {
    opacity: 1;
    display: block;
    transition: 1s ease;
    width: 33%;
    height: 10%;
    margin-left: 20%;
    margin-top: 10%;
  }


  .topControl {
    position: relative;
    width: 14.25%;
    height: 100%;
    float: right
  }     
  #topControlsContainer {
    position: absolute;
    width: 100%;
    height: 5%;
    top: 0%;
  }

  #albumDivContainer {
    position: fixed;
    height: 75%;
    width: 66%;
    transition: 0.5s;
    top: 12.5%;
    left: 17%;
    transition: 1s ease
  }

  #albumDivContainer div {
    transition: 1s;
  }

#albumDivNavButtonLeft { 
  position: absolute;           
  width: 35px;
  left: 0%;
  top: 25%;
  visibility: hidden;
  transform: rotate(180deg);
}    
#albumDivNavButtonRight { 
  position: absolute;           
  width: 35px;
  right: 0%;
  top: 25%;  
  visibility: hidden;
  filter: brightness(0%);
  transform: rotate(180deg);
}



  #optionsDiv img:hover{
    opacity: 0.4

  }

  
  

  #aboutDiv {
    height: 0%;
    width: 0%;
    visibility: hidden
  }
  #aboutTextDiv {
    position: relative;
    width: 100%;
    height: 25%;
    transition: 1s;
    top: 5%;
    left: 0%;
    opacity: 0.5;
    visibility: hidden;
    color: white;
    background-color: black;
    text-shadow: 2px 2px 5px purple;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 70%;
  }

  /* #aboutTextDiv .text {
  color: white;
  background-color: black;
  text-shadow: 2px 2px 5px purple;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 70%;
  }   */

  .aboutText {
    color: white;
    background-color: black;
    text-shadow: 2px 2px 5px purple;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 70%;
    visibility: hidden;
  }




  #scrollContainer {
    height: 65%;
    width: 100%;
    position: fixed;
    top: 10%;
    visibility: hidden
  }
#scrollContainer #habitatsScroll {
  visibility: hidden;
  position: relative;
  height: 100%;
  width: 700%
}

#travisImage {
  visibility: hidden;
  top: 40%;
  width: 100px;
  position:absolute;
  transform:rotateY(180deg)
} 
  


#albumTitlesDiv img:hover{
        opacity: 0.5;
      }  
      

      .songTitleImage {
        position: relative;
        display: block;
      }
      .songTitleImage:hover{
        opacity: 0.5;
      }
      



      #previousTrackArrow {
        cursor: pointer;
        position: absolute;
        left: 0%;
        top: 30%;
        transform: rotate(180deg);
        filter: hue-rotate(90deg);
        width: 30px;
      }
      #previousTrackArrow:hover{
        opacity:2
      }

      #nextTrackArrow {
        cursor: pointer;
        width: 30px;
        position: absolute;
        right: 0%;
        top: 30%
      }             

      #backArrow {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 40px;
        opacity:0;
        visibility: hidden;
        z-index: 99        
      }     
      #backArrow:hover{
        opacity:1
      }

      #sideControlsContainer {
        position: absolute;
        height: 70%;
        right: 0%;
        top: 15%;
        transition: 1s ease-out;
        width: 0%
      }
      
      #sideControlsDiv {
        position: relative;
        width: 0%;
        height: 100%;
        top: 0%;
        left: 100%;
        z-index: 99;
        transition: 1s ease-out;
      }

      .sideControl:hover{
        opacity: 0.5
      }

      

      #materialSwitch {
        display: block;
        transition: 1s ease;
        width: 45%;
        height: 10%;
        margin-top: 10%;        
        margin-left: 15%;
        z-index: 99;
        opacity: 1;
      }

      #materialSwitch:hover {
        opacity: 0.5
      }

      #sideControlsNavButton {
        width: 35px;
        float: inline-end;
        visibility: hidden;
      }


      



      #fov {
        visibility: hidden;
        position: absolute;
        z-index: 98;
        left: 25%;
        height: 2px;
        background: linear-gradient(to right, #c789eb, #054691);
        outline: none;
        opacity: .2;
        -webkit-transition: 1s;
        transition: 1s;
        -webkit-appearance: none;
        width: 50%;
        top: 100%;
      }
  
  #fov:hover {
        opacity: 1;
      }



      .presetControl {
        opacity: 0.5;
        width: 7.2%;
        padding-left: 3.5%;
        padding-right: 3.5%;
        padding-top: 5%;
        float: right
      }

      .presetControl:hover {
        opacity: 1
      }

      #seekbarContain {
        position: fixed;
        width: 90%;
        left: 5%;
        right: 5%;
        height: 10%;
        top: 90%;
      }
  
      .seekbar {
        position: absolute;
        z-index: 98;
        height: 2px;
        left: 7.5%;
        top: 50%;
        outline: none;
        opacity: 0.2;
        -webkit-transition: 1s;
        transition: 1s;
        width: 85%;
      }
     
      .seekbar:hover {
        opacity: 1;
      }

      






